body{

}
.title{
  text-align: center;
margin-top: 5%;
  font-size: 80px;
}
.playicon{
  text-align: center;
}
#playbutton:hover{
  transform:scale(1.1);
}
.emotionthrusound{
  text-align: center;
}
#playbutton{
  background-color: white;
  border: none;
  transition: all .2s ease-in-out;
}
