
.heading{
font-size: 30px;
text-align: center;
justify-content: center;
align-items: center;
font-family: 'Montserrat', sans-serif;
}
.container{
  align-items: center;
  padding-top: 1vw;
  justify-content: center;
  display: flex;
}
.project{
  width: 230px;
  height: 50px;
background-color: transparent;
  margin: 10px;
  border: solid black;
    color: black;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s ease-in-out;
}
.project:hover{
  transform: scale(1.1);
  background-color: black;
  color:white;
}
/* .margins{ */
  /* margin-left: 10%;
  margin-right: 10%;
} */
canvas{
display: inline-block;
}
body{
  text-align: center;
  margin: 0px;
}
head{
  margin: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
}
li {
    float: left;
    padding-right: 1vw;
}
li:first-child{
  margin-left: 1px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    font-family:' Montserrat', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}
li a:hover:not(.active) {
    transform: scale(1.1);
}
.active {
    background-color: black;
    color: white;
}
.instructions{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#canvas{
padding-top: 2vw;
padding-bottom: 1vw;
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container{
      display: inline-block;
    }
    .project{
      display: inline-block;
    }
    #white_opt{
      display: none;
    }
    body{
      text-align: center;
    }
}

@media only screen and (max-width: 1500px) {
  .container{
    display:inline-block;
  }
  .project{
    display: inline-block;
  }
}
