h1 {
font-family:"cursive";
text-decoration: underline;
color:#990000;
font-size: 50px;
}
.title{
  font-size: 120px;
  text-align: center;
  color:black;
}
.punchline{
  font-size:100px;
  text-align:center;
  text-decoration: none;
}
.quote{
  font-size:50px;
  text-align:right;
  text-decoration: none;
}
.ratings{
  font-family: garamond;
  display: inline;
}
.ratingsrotten{
font-family: garamond;
display: inline;
text-align: right;
}
.mytext{
  font-family: garamond;
  font-size: 10px;
}
.ffimage{
  width:30%;
  /*display: block;
  margin: 0 auto; */
}
.myimage{
  width:100%;
  float:right;
}
body{
  width:80%;
  margin:10%;
  font-size:200%;
  background-color:#DAA520;
}
.aboutactors{
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  color:black;
}
.ppic{
  width:20%;
  margin-left: 1em;
}
.actornames{
  margin-left: 1.5em;
}
