h1 {
font-family:"cursive";
text-decoration: underline;
color:#009900;
font-size: 100px;
}
.mytext{
  font-family: garramond;
  font-size: 10px;
}
.myimage{
  width:100%;
  float:right;
}
body{
  width:80%;
  margin:10%;
  font-size:500%;
}
